<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <form action="/users/createAccount" method="POST">
            <div class="container">
                User:<textarea name="inputUser" required></textarea>
                <br>
                Email:<textarea name="inputEmail" required></textarea>
                <br>
                Password:<textarea name="inputPassword" required></textarea>
            </div>
            <input type="submit" value="Create Account">
        </form>
        <br><br>
        <form action="/users/login" method="POST">
            <div class="container">
                Email:<textarea name="searchEmail" required></textarea>
                <br>
                Password:<textarea name="searchPassword" required></textarea>
            </div>
            <input type="submit" value="Log in">
        </form>
    </body>
</html>