<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>
        <section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
            <div class="mask d-flex align-items-center h-100 gradient-custom-3">
                <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <% if (popUpMessage == 'The presidential elections have not started so you can not run for president.' || popUpMessage == 'The presidential elections have not started so there are no presidential candidates.') { %>
                                <div class="alert alert-danger">
                                    <%= popUpMessage %>
                                </div>
                            <% } %>

                            <div class="card" style="border-radius: 15px;">
                                <h2 class="text-uppercase text-center mb-5"> <%= registeredUserInfo.name %> </h2>
                                
                                <% if (candidates.length == 0) { %>
                                    <form action="/users/president/run" method="POST">
                                        <div class="d-flex justify-content-center">
                                            <input type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" value="Run for president">
                                        </div>
                                    </form>
                                <% } else { %>
                                    <% for (let i = 0; i < candidates.length; ++i) { %>
                                        <% if (registeredUserInfo.name == candidates[i].candidate) { %>
                                            <div class="d-flex justify-content-center">
                                                <input disabled class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" value="Run for president">
                                            </div>
                                            <% break %>
                                        <% } else if (i == candidates.length - 1) { %>
                                            <form action="/users/president/run" method="POST">
                                                <div class="d-flex justify-content-center">
                                                    <input type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" value="Run for president">
                                                </div>
                                            </form>
                                        <% } %>
                                    <% } %>
                                <% } %>

                                <div class="card-body p-5">
                                    <form action="/users/president/list" method="GET">
                                        <div class="d-flex justify-content-center">
                                            <input type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" value="Presidential candidates">
                                        </div>
                                    </form>
                                    <br><br>
                                    
                                    <form action="/users/votes/history" method="GET">
                                        <div class="d-flex justify-content-center">
                                            <input type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" value="Your vote history">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </section>
    </body>
</html>