<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <%= userInfo.user %>'s account
        <%= userInfo.email %>
        <br><br>
        <form action="/users/runForPresident/<%= userInfo.email %>" method="POST">
            <input type="submit" value="Run for president">
        </form>
        <br><br>
        <form action="/users/presidentList" method="GET">
            <input type="submit" value="President List">
        </form>
    </body>
</html>