.gradient-custom-3 {
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}

.gradient-custom-4 {
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

.bottom-buttons {
    text-align: center;
    margin-top: 20px;
}

.bottom-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-buttons button {
    margin-left: 10px;
}